<h1>Joueurs</h1>



<a href=""></a>
<ul>
	<% @players.each do |player| %>
	<li><%= player.first_name + " " + player.last_name %> | <%= link_to('Modifier', edit_admin_player_path(player)) %></li>
	<% end %>
</ul>
