<%= link_to 'Retour à la liste des joueurs' , admin_players_path, :class => "grey" %>

<h1>Ajouter un joueur</h1>

<hr>

<% if @player.errors.any? %>
  <div class="error"> 
    <ul>
    <% @player.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%= form_for [:admin, @player] do |f| %>
	<%= render :partial => 'partials/player' , :locals => { :f => f  } %>
<% end %>
