<% content_for :title, t("home.about") %>

<h1><%= t("home.about") %></h1>

<p><b>MyTeams est une plateforme en ligne qui a pour but de simplifier l’organisation de évènements sportifs liés à un club. Plus précisément, le répertoriage des catégories d’un club, le recensement des joueurs, l’assignation de ces derniers à une équipe pour un match donné.</b></p>

<p>MyTeams est une plate-forme en ligne permettant d’organiser simplement des matchs de football pour les clubs. 
En quelques clics, l’entraîneur (ou président) pourra composer ses équipes pour les matchs qui auront lieu tout au long de l’année. Il pourra recenser ses joueurs sur la plateforme, les assigner à une catégorie (Poussin, junior, cadets…), une équipe, un match et leur envoyer une convocation.</p>

<h2><%= t("home.title_team") %></h2>

<ul>
	<li>Pierre Olivier Potier</li>
	<li>Pierre Le Vaillant</li>
	<li>Ravi Rajendran</li>
	<li>Meghan Regior</li>
	<li>Maxime Planchou</li>
	<li>Jean-Yves Kokou</li>
</ul>
