<%= link_to 'Retour à la liste des joueurs' , admin_convocations_path, :class => "grey" %>

<h1>Modifier une convocation</h1>

<% if @convocation.errors.any? %>
  <div class="error"> 
    <ul>
    <% @convocation.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%= form_for [:admin, @convocation] do |f| %>
	<%= render :partial => 'partials/convocation' , :locals => { :f => f  } %>
<% end %>