// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Colors
$light-grey: #edf1f7;
$dark-grey: #99a9b3;
$grey: rgba($dark-grey, 0.1);
$blue: #42b4d6;
$second-color: #576366;
$success-color: #2ebd59;
$main-color-black:#3350c3;
$body-copy: #3b444f;
$body-font-color:#565a5c;
$highlight-error: #fa5e5b;
$highlight-success: #16c98d;
$highlight-warning: #feef6d;
$highlight-announcement: #288ad6;
$main-color:#5fcf80;
$border-color: #EFEFEF;
$main-grey: #F6F6F6;


@font-face {
	font-family: 'GothamRoundedBook';
	src: url('GothamRoundedBook.eot');
	src: url('GothamRoundedBook.eot?#iefix') format('embedded-opentype'),
		url('GothamRoundedBook.woff') format('woff'),
		url('GothamRoundedBook.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'GothamRoundedBold';
	src: url('GothamRoundedBold.eot');
	src: url('GothamRoundedBold.eot?#iefix') format('embedded-opentype'),
		url('GothamRoundedBold.woff') format('woff'),
		url('GothamRoundedBold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'GothamRoundedMedium';
	src: url('GothamRoundedMedium.eot');
	src: url('GothamRoundedMedium.eot?#iefix') format('embedded-opentype'),
		url('GothamRoundedMedium.woff') format('woff'),
		url('GothamRoundedMedium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'GothamRoundedLight';
	src: url('GothamRoundedLight.eot');
	src: url('GothamRoundedLight.eot?#iefix') format('embedded-opentype'),
		url('GothamRoundedLight.woff') format('woff'),
		url('GothamRoundedLight.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

$main-font: 'GothamRoundedBook', Arial, sans-serif;
$title-font: 'GothamRoundedMedium', Arial, sans-serif;

// Spacing
$base-space:1.5em;
$double-space:$base-space*2;
$medium-space:$base-space*0.5;

body {
	background:$main-grey;
	color:$body-font-color;
	font-family:$main-font;
	line-height:1.7;
	letter-spacing:.1px;
}

h1 {
	color:$main-color;
	margin-top:0;
}

h2, h3, h4, h5, h6 {
	color:$second-color;
}

h1, h2, h3, h4, h5, h6 {
	font-family:$title-font;
}

img.center {
	margin: 0 auto;
	display: block;
}

.button {
	background:$main-color;
	font-family:$main-font;

	&:hover, &:focus, &:hover, &:focus {
		background: rgba($main-color, .8);
	}
}

a {
	color:$main-color;

	&:hover {
		color: rgba($main-color, .8);
	}
}

.fa {
	margin-right:5px;
}

.breadcrumbs > * a {
	color:$main-color;
	font-family:$main-font;
}

.grey {
	color:$dark-grey;
}

main {
	padding:$double-space;
	margin-top:$double-space !important;
	background:#fff;
	border:1px solid $border-color;
	border-radius:6px;
}

.top {
	background:$main-color;
	color:#fff;
	font-family:$main-font;
	padding:$base-space/2 $base-space;
}

.nav {

	.nav--logo {
		color:#fff;
		font-family:$main-font;
		font-size:130%;
	}

	a {
		color:#fff;
		&:hover, &:focus, &:hover, &:focus {
			color:rgba(#fff, .9);
		}
	}

	background:$body-copy;
	padding:$base-space;
}

table thead {
	background:$second-color;
	tr th {
		color:#fff;
	}
}
table {
	tr th, tr td {
		color:$body-font-color;
	}

	a {
		color:$second-color;

		&:hover {
			color:$dark-grey;
		}
	}

}

table thead tr th, table tfoot tr th, table tfoot tr td, table tbody tr th, table tbody tr td, table tr td {
	line-height: 1.7;
}


.top--bar {
	background:$main-color;
	color:#fff;
	padding:$medium-space;

	a {
		color:#fff;
	}

}

button.success, .button.success {
    background-color: $second-color;
    border-color: #444E51;
    color: #FFFFFF;

    &:hover {
    	background-color:#444E51;
    }
}

.menu--bar {
	background:#fff;
	border-bottom:1px solid $border-color;
	text-align:center;

	ul {
		margin:0;
		padding:0;

		a {
			color:$dark-grey;
			line-height: 60px;
			padding-bottom:20px;

			&:hover, &.active {
				color:$second-color;
				border-bottom:2px solid $second-color;
			}
		}

		li {
			display: inline;
			list-style: none; /* nécessaire pour IE7 */
			padding:$base-space;
		}
	}
}

.convocation--item {
	background:$body-copy image-url("soccer.png") no-repeat center center;
	background-size:100%;
	border-radius:6px;
	text-align:center;
	padding:$double-space 0;
	color:#fff;
	margin:$medium-space 0;
	transition: all .3s ease-in-out;

	&:hover {
		transform: scale(1.05);
	}

	h4 {
		color:$light-grey;
	}
}

.convocation--item--category {
	h2 {
		color:$dark-grey;
	}
}

.panel {
	margin-top:$double-space;
	border:1px dashed $second-color;
	color:$second-color;
	background:#fff;
	border-radius:6px;

	&.success {
		border-color: $success-color;
		color: $success-color;
	}

}
.teams--table {
	tr.even, tr.alt, tr:nth-of-type(even) {
		background:#fff;
	}

	.categorie--cell {
		background:rgba($light-grey, .5) !important;
		td {
			color:$dark-grey;
		}
	}

}

.top-bar-section li.active:not(.has-form) {
	& a:not(.button), & a:not(.button):hover {
		background: #3ac162;
	}
}


[class*="column"]+[class*="column"]:last-child {
	float: left;
}

.top-bar-section {
	ul li > a { font-family:$main-font; }
}

.top-bar--logo {
	height:30px;
}

.pagination {
	.next_page {
		float:left;
		padding:0.9375rem;
	}
	.previous_page {
		float:right;
		padding:0.9375rem;
	}
	.disabled {
		color:rgba($dark-grey, .7);
		cursor: not-allowed;
	}
}

.statistic {
	background:$grey;
	border-radius:6px;
	padding:.5em;

	p {
		margin-bottom:1em;
	}

	b {
		font-size:3em;
		padding:0;
	}
}

input:not([type]), input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="week"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], input[type="color"], textarea {
    background: $main-grey;
    font-size: 14px;
    color: #576366;
    width: 100%;
    font-family: $main-font;
    padding: 1.2em;
    outline: 0;
    border: 2px solid $main-grey;
    -webkit-appearance: none;
    border-radius: 5px;
    box-shadow: none;
    box-sizing: border-box;
    -webkit-transition: 0.2s;
    transition: 0.2s;

    &:focus {
    	background: #fff;
    border-color: $main-grey;
    }
}

footer {
	color:$dark-grey;
	padding:$double-space 0;

	&--copyright {
		border-top:1px solid rgba(#fff, .1);
	}
}
