<h1>Catégorie : <%= @category.category_name %></h1>

<h2>Joueurs :</h2>

<ul>
	<% @players.each do |p| %>
	<li><%= p.first_name %></li>
	<% end %>
</ul>

<p class="grey">Dernière convocation publiée le <%= @category.created_at %></p>

<table style="border-collapse: collapse" width="100%">
	<thead>
		<tr>
			<th>Equipe 1</th>
			<th>Equipe 2</th>
			<th>Equipe 3</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><strong>Adversaire :</strong> Paris SG<br>
				<strong>Heure RDV :</strong> 10h45<br>
				<strong>Lieu RDV :</strong> Siège<br>
				<strong>Lieu match :</strong> Parc des princes</td>
				<td><strong>Adversaire :</strong> Paris SG<br>
					<strong>Heure RDV :</strong> 10h45<br>
					<strong>Lieu RDV :</strong> Siège<br>
					<strong>Lieu match :</strong> Parc des princes</td>
					<td><strong>Adversaire :</strong> Paris SG<br>
						<strong>Heure RDV :</strong> 10h45<br>
						<strong>Lieu RDV :</strong> Siège<br>
						<strong>Lieu match :</strong> Parc des princes</td>
					</tr>
					<tr>
						<td>Meghan Regior</td>
						<td>Pierre Le Vaillant</td>
						<td>Ravi Rajendran</td>
					</tr>
					<tr>
						<td>Pierre-Olivier Potier</td>
						<td>Jean-Luc Lemoine</td>
						<td>Yann Arthus-Bertrand</td>
					</tr>
					<tr>
						<td>Meghan Regior</td>
						<td>Pierre Le Vaillant</td>
						<td>Ravi Rajendran</td>
					</tr>
					<tr>
						<td>Pierre-Olivier Potier</td>
						<td>Jean-Luc Lemoine</td>
						<td>Yann Arthus-Bertrand</td>
					</tr>
					<tr>
						<td>Meghan Regior</td>
						<td>Pierre Le Vaillant</td>
						<td>Ravi Rajendran</td>
					</tr>
					<tr>
						<td>Pierre-Olivier Potier</td>
						<td>Jean-Luc Lemoine</td>
						<td>Yann Arthus-Bertrand</td>
					</tr>
					<tr>
						<td>Meghan Regior</td>
						<td>Pierre Le Vaillant</td>
						<td>Ravi Rajendran</td>
					</tr>
					<tr>
						<td>Pierre-Olivier Potier</td>
						<td>Jean-Luc Lemoine</td>
						<td>Yann Arthus-Bertrand</td>
					</tr>
					<tr>
						<td>Meghan Regior</td>
						<td>Pierre Le Vaillant</td>
						<td>Ravi Rajendran</td>
					</tr>
					<tr>
						<td>Pierre-Olivier Potier</td>
						<td>Jean-Luc Lemoine</td>
						<td>Yann Arthus-Bertrand</td>
					</tr>

				</tbody>
			</table>