<% if @user.errors.any? %>
  <div class="error"> 
    <ul>
    <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%= form_for [:admin, @user] do |f| %>
	<%= render :partial => 'partials/user' , :locals => { :f => f  } %>
<% end %>
