<h1>Équipes</h1>



<%= link_to('Ajouter une équipe', new_admin_team_path) %>
<ul>
	<% @teams.each do |team| %>
	<li><%= team.team_name %>
	<ul>
		<% team.players.each do |player| %>
		<li><%= player.first_name %></li>
		<% end %>
	</ul>
	<%= link_to('Modifier', edit_admin_team_path(team)) %></li>
	<% end %>
</ul>