<%= link_to 'Retour à la liste des joueurs' , admin_teams_path, :class => "grey" %>

<h1>Ajouter une équipe</h1>

<% if @team.errors.any? %>
	<div class="error"> 
		<ul>
		<% @team.errors.full_messages.each do |msg| %>
			<li><%= msg %></li>
		<% end %>
		</ul>
	</div>
<% end %>

<%= form_for [:admin, @team] do |f| %>
  	<%= render :partial => 'partials/team' , :locals => { :f => f  } %>
<% end %>